* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.div {
    height: 100vh;
    width: 100%;
    background-color: black;
}
#tgl-box {
    background-color: rgb(245, 12, 12);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 50px;
    border-radius: 50px;
}
.toggle {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50px;
    background-color: #000;
    transform: scale(0.9);
    transition: 0.5s;
    box-shadow: 5px 8px 40px rgba(10, 240, 113, 0.5),
                inset 0 4px 4px rgba(255, 255, 255, 0.2),
                inset 0 -4px 4px rgba(255, 255, 255, 0.2);
    cursor: pointer;
}
#tgl-box .active .toggle{
    left: 55px;
}